@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap');



h1,
small {
    height: fit-content;
}

a {
    color: #333333;
    text-decoration: none;
}

body {
    font-family: 'Darker Grotesque', sans-serif;
}

/* Inicio do estilo do footer */

#footer-hr {
    background: linear-gradient(270deg, #2C5680 0%, #DEB959 100%);
    height: 5px;
    margin: 0px;
    border: none;
}

footer {
    display: flex;
    background-color: #333333;
    height: 270px;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 15px;
}

.contact-item {
    padding: 12.5px 0px;
}

.contact-img {
    height: 19px;
    width: 19px;
}

.contact-txt {
    padding: 0px 10px;
    display: inline-block;
    width: 350px;
}

#quemsomos {
    box-sizing: border-box;
    padding: 10px;
    background: #DEB959;
    font-weight: 700;
    font-size: 25px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #353535;
}

#dev {
    display: flex;
    width: 120px;
    height: 150px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Fim do estilo do footer */
header {
    display: flex;
    background-color: #85CDF5;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;

}

#img-c {
    border-radius: 50%;
    height: 200px;
    width: 200px;


}

h1,
h2,
body,
p {
    margin: 0;
}

#info {
    padding: 60px;
    display: flex;
    justify-content: center;
}

input {
    display: inline;
    border: 0;
    border-bottom: 1px solid #333333;
    outline: 0;
}

#input {
    padding: 0% 15% 50px;
}

h2 {
    padding: 0px 0px 0px 15px;
    display: inline;
}

#adotar {
    display: block;
    border: 1px #333333;
    background: #2C5680;
    height: 60px;
    width: 209px;
    margin: auto;
    font-size: 36px;
    font-weight: 600;
    color: #FFFFFF;
    margin-bottom: 50px;
}