@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap');

header {
    display: flex;
    background-color: #85CDF5;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;

}

h1,
h2,
body,
p {
    margin: 0;
}

a {
    color: #333333;
    text-decoration: none;
}

body {
    font-family: 'Darker Grotesque', sans-serif;
}

#s4 {
    width: 100%;
    padding: 60px 0px 60px 0px;
}

.blueshadow {
    position: relative;
    width: 430px;
    height: 328px;
    background: #2C5680;
    border: 4px solid #333333;
}

#lobospai {
    width: 1039px;
    margin: auto;
}

.lobos-r,
.lobos-l {
    display: flex;
}

.lobos-l {
    flex-direction: row;
}

.lobos-r {
    flex-direction: row-reverse;
}

.lobos-txt-r,
.lobos-txt-l {

    padding: 60px 60px;
    width: 461px;
    height: 339px;
}

.lobos-txt-r {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
    text-align: left;
}

.lobos-txt-l {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
    text-align: right;
}

#footer-hr {
    background: linear-gradient(270deg, #2C5680 0%, #DEB959 100%);
    height: 5px;
    margin: 0px;
    border: none;
}

footer {
    display: flex;
    background-color: #333333;
    height: 270px;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 15px;
}

.contact-item {
    padding: 12.5px 0px;
}

.contact-img {
    height: 19px;
    width: 19px;
}

.contact-txt {
    padding: 0px 10px;
    display: inline-block;
    width: 350px;
}

#quemsomos {
    box-sizing: border-box;
    padding: 10px;
    background: #DEB959;
    font-weight: 700;
    font-size: 25px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #353535;
}

#dev {
    display: flex;
    width: 120px;
    height: 150px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.adotar,
.adotado {
    height: 52px;
    width: 157px;
    border: none;
    color: #ffff;
}

.adotar {
    background-color: #DEB959;
}

.adotado {
    background-color: #7AAC3A;
}

.imglobo {
    width: 430px;
    height: 328px;
}

#img1,
#img2,
#img3,
#img4 {
    width: 430px;
    height: 328px;
}

.fotoslobo-r,
.fotoslobo-l {
    position: absolute;
    height: 328px;
    width: 430px;
    top: 5%;
}

.fotoslobo-l {
    left: 5%;
}

.fotoslobo-r {
    right: 5%;
}

.btninfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nomeage {
    margin: 30px 0px;
}

.input-txt {
    width: 808px;
    height: 27px;
    padding: 10px;
    margin: 0px 20px 20px 20px;
}

.plobo {
    width: 150px;
    padding: 10px;
    color: #ffff;
    background-color: #DEB959;
    border: none;
    font-weight: 600;
    font-size: 26px;
}

.btn-input {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}