@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap');

header {
    display: flex;
    background-color: #85CDF5;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;

}

main {
    margin: auto;
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-evenly;
}

#adopt {
    width: 180px;
    height: 56px;
    background: #7AAC3A;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    border: none;
}

#del {
    width: 180px;
    height: 56px;
    background: #DE5959;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    border: none;
}

#pic-btn {
    display: flex;
    height: 530px;
    flex-wrap: wrap;
    width: 475px;
    align-items: center;
    justify-content: space-between;
}

#text {
    padding: 0px 30px;
    width: 478px
}

h1,
h2,
body,
p {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    margin: 0;
}

a {
    color: #333333;
    text-decoration: none;
}

body {
    font-family: 'Darker Grotesque', sans-serif;
}

/* Inicio do estilo do footer */
#footer-hr {
    background: linear-gradient(270deg, #2C5680 0%, #DEB959 100%);
    height: 5px;
    margin: 0px;
    border: none;
}

footer {
    display: flex;
    background-color: #333333;
    height: 270px;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 15px;
}

.contact-item {
    padding: 12.5px 0px;
}

.contact-img {
    height: 19px;
    width: 19px;
}

.contact-txt {
    padding: 0px 10px;
    display: inline-block;
    width: 350px;
}

.fotolobo {
    position: absolute;
    height: 328px;
    width: 430px;
    top: 5%;
    left: 5%;
}

#imglobo {
    height: 328px;
    width: 430px;
}
#quemsomos {
    box-sizing: border-box;
    padding: 10px;
    background: #DEB959;
    font-weight: 700;
    font-size: 25px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #353535;
}

#dev {
    display: flex;
    width: 120px;
    height: 150px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Fim do estilo do footer */
.blueshadow {
    position: relative;
    width: 430px;
    height: 328px;
    background: #2C5680;
    border: 4px solid #333333;
}

h1 {
    padding: 60px 0px;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
}