/*
Theme Name: Treinamento
Author: Jussaro Panasco de Oliveira
Description: Para Treinar
Version: 1
*/

@import 'css/reset.css';

@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap');

header {
    display: flex;
    background-color: #85CDF5;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;

}


h1,
h2,
body,
p {
    margin: 0;
}

a {
    color: #333333;
    text-decoration: none;
}

body {
    font-family: 'Darker Grotesque', sans-serif;
}

.boxtxt {
    width: 50%;
    height: fit-content;
    text-align: center;
    font-style: normal;
    color: #fff;
    font-weight: 400;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0);
}

h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
}

h2 {
    width: 80vw;
    text-align: center;
    color: #DEB959;
    padding: 0px 0px 60px 0px;
    font-weight: 700;
    font-size: 48px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: auto;
}

#s1 {
    /* O background-image está esticando em telas acima de 1400px de width */
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: center;
    align-items: center;
    background-image: url(media/lobo.png);
}

#s2 {
    display: flex;
    background-color: #2C5680;
    flex-wrap: wrap;
    justify-content: center;
    padding: 60px 0px;
}

#s2txt {
    width: 68%;
    font-weight: 400;
    font-size: 24px;
    color: #fff;
    text-align: center;
}

.text-hr {
    width: 100px;
    height: 5px;
    background-color: #fff;
}

#s3 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: #333333;
    padding: 60px 0px;
}

#valoresbox {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    align-items: center;
}

.vbox {
    width: 12.5rem;
    text-align: center;
    color: #fff;
    font-weight: 400;
    font-size: 26px;
    line-height: 20px;
}

h3 {
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
}

.vimg {
    display: flex;
    background: #FAFAFA;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.real-img {
    width: 139px;
    height: 139px;
}

#image,
#imagem {
    width: 430px;
    height: 328px;
}

#s4 {
    height: 1000px;
    width: 100%;
    padding: 60px 0px 0px 0px;
}

.blueshadow {
    position: relative;
    width: 430px;
    height: 328px;
    background: #2C5680;
    border: 4px solid #333333;
}

.foto {
    position: absolute;
    width: 430px;
    height: 328px;
    top: 5%;
    left: 5%;
}

#lobospai {
    width: 1039px;
    height: 789px;
    margin: auto;
}

.lobos-r,
.lobos-l {
    display: flex;
}

.lobos-l {
    flex-direction: row;
}

.lobos-r {
    flex-direction: row-reverse;
}

.lobos-txt {
    padding: 0px 60px;
    width: 461px;
    height: 339px;
    font-size: 24px;
    font-weight: 400;
}

/* Inicio do estilo do footer */
#footer-hr {
    background: linear-gradient(270deg, #2C5680 0%, #DEB959 100%);
    height: 5px;
    margin: 0px;
    border: none;
}

footer {
    display: flex;
    background-color: #333333;
    height: 270px;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 15px;
}

.contact-item {
    padding: 12.5px 0px;
}

.contact-img {
    height: 19px;
    width: 19px;
}

.contact-txt {
    padding: 0px 10px;
    display: inline-block;
    width: 350px;
}

#quemsomos {
    box-sizing: border-box;
    padding: 10px;
    background: #DEB959;
    font-weight: 700;
    font-size: 25px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #353535;
}

#dev {
    display: flex;
    width: 120px;
    height: 150px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Fim do estilo do footer */